<% if logged_in? %>
<%= erb(:"users/_partial_profile")%>
<% end %>
<h1 class="welcome">Welcome <%=@user.name%>!</h1>
<div class="container">
	
	## pins.each show all the pins taglines you have as links so you can see them after clicking
	


</div>